backend/.env
backend/vendor/
backend/storage/logs/*
!backend/storage/logs/.gitkeep
backend/storage/archivos/*
!backend/storage/archivos/.gitkeep
backend/storage/*.local
frontend/node_modules/
frontend/dist/
frontend/.env
.DS_Store
Thumbs.db
